<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" type="image/png" href="/img/wombat.png" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>HPI Checklist</title>
  <meta name="generator" content="Bootply" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
  <link href="css/styles.css" rel="stylesheet">
</head>

<body>
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/hpichecklist">HPI Checklist</a></li>
          <li><a href="/axchecklist">Client Tests</a></li>
          <li><a href="/batch">Overnight Batch</a></li>
          <li><a href="/todo">Handover</a></li>
          <li><a href="/dccheck">DC Check</a></li>
          <li><a href="/axdeploys">Audatex Releases</a></li>
          <li><a href="https://opsview.uk.audatex.com" target="_blank">Opsview</a></li>
          <li><a href="http://ops-wiki.svc.solera-uk.com/start" target="_blank">Ops Wiki</a></li>
          <li><a href="https://solera.xmatters.com/xmatters/app.do" target="_blank">xMatters</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>

  <div class="container">


    <div class="ws-row check" id="check-74">
      <a class="link" href="http://ops-wiki.svc.solera-uk.com/docs:checks:hpi:nmr_-_check_dvla_file_has_been_sent"
        target="_blank">NMR - Check DVLA file has been Sent</a>
      <span>15:30</span>
      <input type="text" class="check-comment">
      <button class="done">Done</button>
      <button class="fail red">Failed</button>
    </div>
  </div><!-- /.container -->
  <!-- script references -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>